{% extends '/base.html.twig' %}

{% block title %}Music Book{% endblock %}

{% block body %}
    <div class="d-flex flex-column justify-content-around align-items-center">
        <h1>Make your own music book !</h1>
        {% if app.user %}
            <a class="btn btn-info mb-3" href="{{ path('book_new') }}">Begin now</a>
            {% else %}
            <a class="btn btn-info mb-3" href="{{ path('app_register') }}">Begin now</a>
        {% endif %}
        <div class="bookBackground w-100" style="background: url('{{ asset('build/bookBackground.jpg') }}') no-repeat center center fixed; background-size: cover"></div>
        <h3>Last music book created :</h3>
    </div>
    <main class="book-container">
    {% for book in lastBook %}
        <h2>{{ book.title }} <span class="book-author">by {{ book.author.pseudo }}</span></h2>
        <a class="book" href="{{ path('book_show', {'slug': book.slug}) }}">
            <div class="inner-book">
                <div class="img" style="padding-top: calc(1.07 * 100%)">
                    <img src="{{ vich_uploader_asset(book, 'coverFile') }}" />
                </div>
                <div class="page"></div>
                <div class="page page-2"></div>
                <div class="page page-3"></div>
                <div class="page page-4"></div>
                <div class="page page-5"></div>
            </div>
        </a>
    {% endfor %}
    </main>
{% endblock %}